nav ul {
    border: 3px solid rgb(70, 89, 82);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(151, 166, 128) ;
    width: 95%

}

nav ul a {
    display: block;
    padding: 0.75em;
    text-decoration: none;
    border: 2px solid rgb(70, 89, 82) ;
    background-color: rgb(243, 236, 220) ;
    margin-right: 1em;
    margin-left: 1em;
    color: rgb(70, 89, 82);
    font-weight: bold;

}


body { 
    background-color:rgb(243, 236, 220);
    font-family: 'Times New Roman', Times, serif;
}
h1 {text-align: center;
    color:rgb(70, 89, 82) ;}
    