nav ul {
    border: 3px solid rgb(70, 89, 82);
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(151, 166, 128) ;
    width: 95%

}

nav ul a {
    display: block;
    padding: 0.75em;
    text-decoration: none;
    border: 2px solid rgb(70, 89, 82) ;
    background-color: rgb(243, 236, 220) ;
    margin-right: 1em;
    margin-left: 1em;
    color: rgb(70, 89, 82);
    font-weight: bold;

}


body { 
    background-color:rgb(243, 236, 220);
    font-family: 'Times New Roman', Times, serif;
}

h1 {text-align: center;
    color:rgb(70, 89, 82) ;}


.sa1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    height: 350px;
    margin-bottom: 4em;
}


.sa2 {
    width: 300px;
    height: auto;
    float: right;
    display: block;
    padding: 15px;
}

.kd {
    width: 300px;
    height: auto;
    float: right;
    display: block;
    padding: 15px;
}

.totoro {
    width: 300px;
    height: auto;
    float: right;
    display: block;
    padding: 15px;
}
    
.name , .name2 , .name3 {
    height: 4em;
    clear: right;
    width: 60%;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 50px;
    margin-top: 0.5em;
    background-color:rgb(151, 166, 128) ;
    color: rgb(70, 89, 82);
    font-size: larger;
    padding: 0.6em;


}
.img1{
    width: 20em;
    flex-direction: column;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2{
    width: 20em;
    flex-direction: column;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3{
    width: 20em;
    flex-direction: column;
    height: 25em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row {  
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 3em;
}

.side{
    transform: rotate(270deg);
    float: left;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    margin-right: 2em;
    margin-top: 2em;
    font-size: 200%;
    background-color:rgb(151, 166, 128) ;
    color: rgb(70, 89, 82);
    max-width: 1em;
    max-height: 1em;
    display: flex;
    justify-content: center;
}
