nav {
  border: 3px solid rgb(70, 89, 82);
  background-color: rgb(151, 166, 128);

  padding: 1em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  flex-wrap: wrap;
}

nav a {
  border: 2px solid rgb(70, 89, 82);
  background-color: rgb(243, 236, 220);
  display: block;
  padding: 0.75em;
  text-decoration: none;
  margin-right: 1em;
  margin-left: 1em;
  color: rgb(70, 89, 82);
  font-weight: bold;
  transition: background-color 250ms ease;
}

a:hover {
  color: rgb(243, 236, 220);
  background-color: rgb(70, 89, 82);
}

body {
  background-color: rgb(239, 226, 205);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 250%;
  color: rgb(70, 89, 82);
}

.tot {
  width: 65vw;
  height: auto;
}

.totoropic {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 6em 4em 6em 4em;
  justify-content: space-evenly;
}
.totpic2,
.totpic3 {
  width: 17vw;
  height: auto;
}

.totoropic2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pic {
  width: 18em;
  height: auto;
  padding: 1em;
}

.page1 h2 {
  height: 4em;
  clear: right;
  width: 60%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0.5em;
  background-color: beige;
  color: rgb(70, 89, 82);
  font-size: larger;
  padding: 0.6em;
  font-weight: bold;
}

.img {
  width: 20em;
  flex-direction: column;
  height: 25em;
  display: flex;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgb(151, 166, 128);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  padding-right: 5em;
  padding-top: 2em;
  gap: 1em;
}

.page1 article p {
  font-size: large;
}

.side {
  transform: rotate(270deg);
  padding: 2em 4em 2em 4em;
  margin-right: 2em;
  margin-top: 5em;
  font-size: xx-large;
  background-color: rgb(151, 166, 128);
  color: beige;
  max-width: 1em;
  max-height: 1em;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

ul li img {
  width: 42em;
  padding: 1em;
}

/* de movies css */

.imagemov {
  width: 20vw;
  height: max-content;
  padding-top: 3em;
}

.reviewdiv {
  display: flex;
  flex-direction: column;
}

.reviewarticle {
  padding: 2em 4em 2em 4em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 0 2em 0 2em;
}

.page3 p {
  color: rgb(70, 89, 82);
  font-size: large;
}

.page3 h2 {
  font-size: 180%;
  color: rgb(70, 89, 82);
  margin-top: 0em;
}

.about {
  padding: 0 4em 2em 4em;
  display: flex;
  gap: 2em;
  margin: 0 2em 0 2em;
  color: rgb(70, 89, 82);
}

.miyazaki {
  width: 15vw;
}
.logo {
  width: 15vw;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.visit {
  margin: -2em 4em 4em 4em;
  display: flex;
  flex-direction: column;
}

.page4 h2 {
  font-size: 200%;
  text-align: center;
  color: rgb(70, 89, 82);
}

.page4 h3 {
  color: rgb(70, 89, 82);
  font-size: 170%;
  font-weight: bold;
}

.page4 p {
  font-size: 120%;
  margin-top: -1em;
}

#otherp {
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
  display: block;
  color: rgb(70, 89, 82);
}

.visitimg {
  width: 39vw;
  height: auto;
}

.reviewbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  flex-wrap: wrap;
  background-color: rgb(151, 166, 128);
}

.reviewboxmini {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(243, 236, 220);
  padding: 2em;
  margin: 3em;
  width: 38.5em;
}

footer {
  background-color: rgb(151, 166, 128);
  text-align: center;
  color: beige;
  padding: 1em;
}
